*{
    box-sizing: border-box;
}

body{
    margin: auto;
    font-family: sans-serif;
}

footer{
    background-color: #66CCCC;
    padding: 1rem;
    text-align: center;
    margin: auto;
}

header {
    background-color: #66CCCC;
    color: #fff;
    padding: 5px;
}

nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #000;
    background-color: transparent;
    font-size: 1.25rem;
    
}

nav a:hover {
    color: #fff;
}

nav button {
    background-color: #66B2FF;
    color: black;
    cursor: pointer;
    border-radius: 50rem;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border: 1px solid transparent;
}

nav button:hover {
    color: #fff
}

section{
    height: 100%;
}

.caja1{
    padding-bottom: 3rem;
    padding-top: 3rem;
    height: 100%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

main section div h1{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

.caja2{
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.caja3{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.caja4{
    border: 3px solid #000;
    border-radius: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
}

.caja5{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.caja6{
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.caja7{
    padding: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    min-height: 1px;
}

.h2IS{
    color: #2FA173;
    padding-bottom: 0.25rem;
    margin-bottom: 3rem;
    margin-top: 0.25rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
}

.caja8{
    margin-bottom: 1.5rem;
}

input{
    border-width: 3px;
    border-color: #000;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    border-radius: 0.25rem;
}

h3{
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

.caja9{
    margin-bottom: 3rem;
}

.caja10{
    -webkit-text-fill-color: black;
    text-align: center;
    padding-bottom: 0.25rem;
    padding-top: 0.25rem;
    margin-bottom: 3rem;
}

section button{
    background-color: #27F053;
    border: 3px solid #000;
    cursor: pointer;
    margin-bottom: 1rem;
    font-weight: 400;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
}

.caja10 a{
    color: #000;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.caja11{
    padding-bottom: 1.5rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

.caja11 h5{
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
}

.caja12{
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.caja12 img{
    width: 100%;
    height: 100%;
    border-left: 3px solid #000;
    object-fit: cover;    
}